* {
  /* removing pre-existing margins and paddings so that we can assign what is necessary  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  /* For use with 'rem' 1rem = 16px and setting font size to this value makes 1rem = 10px making it easier to calculate. */
  font-size: 62.5%;
  font-family: 'Fira Sans','Open Sans', sans-serif, 'Courier New', monospace; 
  /* overflow: hidden; */
}

header  #heading {
  /* margin: auto 50%; */
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  height: 4rem;
  width: auto;
  background: dodgerblue;
}

#myCanvas {
  /* keep width here so the app does not start scrolling vertically and overflows behind the vertical scroll bar 
  Changing height to 100% always displays footer and header
   */
  width: 100%;
  height: 100%;
  border: 0.6rem dashed red;
  margin: 0;
  background: lightgray;
}

footer {
  background-color: black;
  margin: 0;
  padding: 1rem;
  height: auto;
  width: auto;
}

footer .footerElements {
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  color: white;
}

footer .footerElements a {
  color: red;
  text-decoration-color: red;
}