* {
  /* removing pre-existing margins and paddings so that we can assign what is necessary  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* For use with 'rem' 1rem = 16px and setting font size to this value makes 1rem = 10px making it easier to calculate. */
  font-size: 62.5%;
  font-family: "Fira Sans", "Open Sans", sans-serif, "Courier New", monospace;
  overflow: hidden;
  background: linear-gradient(
    210deg,
    rgba(68, 148, 71, 0.4),
    rgba(1, 31, 192, 0.7)
  );
}

header #heading {
  /* margin: auto 50%; */
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
  height: auto; /*required.... do not remove*/
  width: auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2.5rem 0.1rem black;
}

#myCanvas {
  /* keep width here so the app does not start scrolling vertically and overflows behind the vertical scroll bar 
  Changing height to 100% always displays footer and header
   */
  /* width: 100%; // Please don't remove
  height: 100%; // Don't remove
   border: 0.5rem solid yellowgreen; */
  background: lightblue;
  margin: 40px;
  box-shadow: 0 0 2.5rem 0.1rem black;
  border-radius: 0.5rem;
}

footer {
  box-shadow: 0 0 2.5rem 0.1rem black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  height: auto; /*required.... do not remove*/
  width: auto;
  margin: 0;
}

footer .footerElements {
  padding-left: 100px;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.6rem;
  color: #000;
}

footer .footerElements a {
  font-size: 1.5rem;
  color: blue;
  text-decoration-color: blue;
}

footer #score {
  height: 4rem;
  color: black;
  font-size: 4rem;
  float: right;
  padding-right: 200px;
}
